body {
    background-color: white;
    color: black;
}

.darkmode {
    background-color: black;
    color: white;
}

.d-flex {
    max-width: auto;
}

.container-fluid {
    margin: 0px 150px 0px 150px;
    padding: 0px;
}

.Youtube-icon {
    display: flex;
    justify-content: center;
    align-content: center;
}

.bi-youtube {
    width: 40px;
    height: 40px;
    color: red;
    font-size: 35px;
    display: flex;
}

.navbar-brand {
    padding: 0px;
    font-weight: bold;
}

.me-2 {
    width: 50rem;
}

.btn-outline-success {
    color: red;
    border-color: red;
}

.bi-person-circle {
    width: 40px;
    height: 40px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ligne {
    margin: 0px 150px 0px 150px;
    min-height: 15vh;
    height: auto;

}

.top_ligne {
    display: flex;
    justify-content: space-around;
}

.Dark_mode_slider {
    display: flex;
    justify-content: space-around;
}

.Dark_mode_title {
    margin: 0vh 2vh 0vh 0vh;
    color: black;
    text-decoration: none;

}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

iframe {
    width: auto;
    min-width: 35vh;
    height: auto;
}

.container_video {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
    min-height: 200px;
}

hr {
    color: darkgrey;
}

@media (min-width: 100px) and (max-width: 1250px) {
    .container-fluid {
        margin: 5vh;
    }

    .ligne {
        margin: 5vh;
    }

    .me-2 {
        max-width: 50rem;
        width: auto;
    }

    iframe {
        margin: 5vh;
    }
}